//color
$lightOrange: rgb(255, 253, 139);
$lightRed: rgb(177, 43, 43);
$white: #fff;
$black: #000;
$Blue: #4B99AD;
$Red:rgb(255, 92, 92);
$Green:rgb(62, 173, 62);

//font
//fonts
$font-sm: 0.875rem; //14px
$font-md: 1.75rem; //28px
$font-lg: 2.625rem; //42px